.contact .form-elements{
    display: flex;
}

.contact form{
    flex: 2;
    padding-right: 10px;
}

.contact label{
    display: block;
    color: white;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 200;
}

.contact textarea{
    width: 100%;
    height: 150px;
    font-size: 28px;
    padding: 15px;
    border: 1px solid rgba(255,255,255, .3);
    background-color: rgba(0,0,0, .2);
    resize: none;
    color: white;
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.15 );  
    font-weight: 200; 
    margin-bottom: 15px;
    border-radius: 7px;
}
.contact textarea:focus{
    outline: 0;
}

.contact input{
    width: 49%;
    font-size: 28px;
    line-height: 60px;
    padding-left: 15px;
    background-color: rgba(0,0,0, 0.2);
    border: 1px solid rgba(255,255,255, .3);
    color: white;
    border-radius: 7px;
}
.contact input[type=text]{
    margin-right: 2%;
}
.contact input:focus{
    outline: 0;
}

.contact button{
    margin: 35px 0;
}

.contact .social-media{
    padding-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .social-media h3{
    color: white;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 22px;
}

.contact .social-media a{
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.contact .social-media a:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #FF4BA8;
}

@media screen and (max-width: 945px){
    .contact .form-elements{
        flex-direction: column;
        
    }

    .contact .social-media{
        flex-direction: row;
        align-items: center;
        
    }

    .contact .social-media h3{
        display: none;
    }

    .contact .social-media a{
        margin: 5px 10px;
    }

    .contact .form-elements form{
        text-align: center;
    }

    .contact label{
        font-size: 24px;
        
    }

    .contact input{
        width: 100%;
        font-size: 20px;
        
    }
    .contact input[type=text]{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .contact textarea{
        width: 100%;
        height: 90px;
        font-size: 20px;
        
    }
    
}