.menu .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    padding: 25px;
    border-right: 1px solid #6441A5;
    background: #2a0845b3;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 0 0 25px 25px;
    
}

.menu .logo h2{
    color: white;
    font-size: 32px;
}

nav ul{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
    padding: 10px 0;
}

nav ul li a{
    font-size: 32px;
    padding: 5px 35px 5px 35px;
    
    font-weight: bold;
    text-decoration: none;
    border-left: 5px solid rgba(0,0,0, 0);
    color: white;
}

.active{
    border-color:#ff4ba8;
    color: #ff4ba8;
}
nav ul li a:hover{
    transition: 0.3s;
    
    border-color: #ff4ba8;
}
nav ul li:hover{
    transition: 0.3s;
    transform: translateX(5px);
}

i#ham-button{
    color: white;
    position: relative;
    padding: 15px;
    background-color: #361754;
    border-radius: 50%;
    line-height: 22px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
i#ham-button:hover{
    transition: 0.3s;
    color: #ff4ba8;
}

@media screen and (max-width: 1000px){
    i#ham-button{
        display: block;
    }

    nav ul{
        
        transition: 0.9s;
        position: fixed;
        right: -15px;
        top: 80px;
        display: block;
        background-color: #381856;
        max-width: 250px;
        width: 0%;
        height: 100vh;
    }
    nav ul li a{
        padding: 5px 25px;
    }
}